#skills {
    overflow: hidden;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content to the left */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem; /* Add some padding to the sides to create space from the edges */
}
#skills>h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
}
.skillDesc {
    font-size: 1rem;
    font-weight: 400;
    max-width: 50rem;
    padding: 0 1rem; /* Add padding to the sides */
}

.skillBars {
    margin: 3.5rem 0; /* Adjust margin */
    width: 100%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem 0; /* Adjust margin */
    padding: 1.5rem 1rem; /* Adjust padding */
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText > p {
    font-size: 0.9rem;
    font-weight: 100;
}

@media screen and (max-width: 720px) {
    #skills {
        margin: 0;
        overflow-x: hidden;
        padding: 0 1rem; /* Adjust padding */
    }

    #skills>h1 {
        font-size: medium;
    }

    #skills>span {
        font-size: small;
    }

    .skillBars {
        margin: 0;
    }

    /* Add any additional responsive styles as needed */
}



@media screen and (max-width: 460px) {

    #skills {
        margin: 0,auto;
        overflow-x: hidden;
        padding: 0 1rem; /* Adjust padding */
    }

    /* #skills>span {
        
        font-size: 3vw;
    } */
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}